<!DOCTYPE html>
<html lang="en" class="h-full bg-slate-700">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>THX</title>
    <link
      rel="icon"
      type="image/png"
      href="https://tailwindui.com/img/logos/mark.svg?color=orange&shade=200"
    />
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    {% load static %}
    <script src="{% static '/app.js' %}" defer></script>
    <link rel="stylesheet" href="{% static '/style.css' %}" />
    <link rel="stylesheet" href="{% static '/output.css' %}" />
  </head>
  <body class="h-full">
    <nav
      class="flex justify-between items-center bg-slate-800 p-5 border-b-2 border-b-slate-600"
    >
      <a href="/" class="text-3xl text-orange-200 font-bold">THX</a>
      <a href="/admin">
        <img
          class="inline-block h-14 w-14 rounded-full"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
          alt="Profile picture"
        />
      </a>
    </nav>
    <main class="flex flex-col justify-between items-center p-5 py-12">
      {% block content %} {% endblock %}
    </main>
  </body>
</html>
