{% extends "main.html" %} {% block content %}

<h1 class="text-4xl pb-6 md:text-5xl md:pb-12">
  {{title}}<span class="text-emerald-200"> Page</span>
</h1>

<div class="mb-6 text-lg p-8 md:rounded-xl w-full lg:w-[60rem] -mt-4">
  <!-- Results and submit btn -->
  <div class="flex flex-col justify-center align-baseline">
    <div class="flex justify-between items-center mb-6">
      <p>Found {{room_count}} result{% if room_count != 1 %}s{% endif %}</p>
      <a
        href="{% url 'submit' %}"
        class="bg-slate-800 hover:text-emerald-200 hover:cursor-pointer font-bold py-2 px-4 rounded"
      >
        Submit Form
      </a>
    </div>

    <!-- Room cards -->
    {% for room in rooms %}
    <div class="my-2 bg-slate-800 rounded-xl p-4 flex justify-between">
      <div class="w-72">
        <a href="{% url 'room' room.id %}" class="text-emerald-200">View</a>
      </div>
      <div class="text-slate-400 w-72 text-center">
        {{room.name_client}}, {{room.created|date:"F d"}}th
      </div>
      <div class="w-72 text-end">
        <a href="{% url 'edit' room.id %}" class="text-emerald-200 mr-4"
          >Edit</a
        >
        <a href="{% url 'delete' room.id %}" class="text-red-300">Delete</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
